<ion-view title="Brand" id="page6" style="background-color:#FFFFFF;">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-search"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h1 id="brand2-heading5" style="color:#000000;">Patanjali</h1>
    <ion-list id="brand2-list7" class="manual-list-fullwidth">
      <ion-item class="item-icon-right dark" id="brand2-list-item29">Oil
        <i class="icon ion-android-arrow-dropdown icon-accessory"></i>
      </ion-item>
      <div class="item item-body" id="brand2-list-item-container3">
        <div id="brand2-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">OIL2445</p>
        </div>
        <div id="brand2-markdown9" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">OIL2446</p>
        </div>
        <div id="brand2-markdown10" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">OIL2448</p>
        </div>
        <div id="brand2-markdown11" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">OIL2447</p>
        </div>
      </div>
      <ion-item id="brand2-list-item30">Shampoo</ion-item>
      <ion-item id="brand2-list-item31">Medicine</ion-item>
      <ion-item id="brand2-list-item32">Tooth-Paste</ion-item>
      <ion-item id="brand2-list-item33">Atta</ion-item>
    </ion-list>
  </ion-content>
</ion-view>