<ion-view title="Login" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 40px;"></div>
    <div class="spacer" style="width: 300px; height: 68px;"></div>
    <form id="login-form1" class="list">
      <ion-list id="login-list2">
        <label class="item item-input item-floating-label" id="login-input1">
          <span class="input-label">User Id</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input item-floating-label" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 65px;"></div>
      <div style="margin-right:-20px;">
        <a ui-sref="home()" id="login-button1" style="left:-10px;color:#00A2FF;" class="button button-light button-full button-clear icon ion-arrow-right-a"> Log in</a>
      </div>
      <a href-inappbrowser="/signup" id="login-button2" class="button button-dark button-block button-clear">Ceate a user account</a>
    </form>
  </ion-content>
</ion-view>
