<ion-view title="Brand" id="page3" style="background-color:#FFFFFF;">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-search"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h1 id="brand-heading2" style="color:#000000;">Jockey</h1>
    <ion-list id="brand-list6" class="manual-list-fullwidth">
      <ion-item class="item-icon-right dark" id="brand-list-item25">Boxers
        <i class="icon ion-android-arrow-dropdown icon-accessory"></i>
      </ion-item>
      <div class="item item-body" id="brand-list-item-container2">
        <div id="brand-markdown4" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">BOX2445</p>
        </div>
        <div id="brand-markdown5" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">BOX2446</p>
        </div>
        <div id="brand-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">BOX2448</p>
        </div>
        <div id="brand-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">BOX2447</p>
        </div>
      </div>
      <ion-item id="brand-list-item26">Briefs</ion-item>
      <ion-item id="brand-list-item27">T-Shirts</ion-item>
      <ion-item id="brand-list-item28">Joggers</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
