<ion-view title="Warehouse" id="page1" style="background-color:#FFFFFF;">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-search"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h1 id="warehouse-heading1" style="color:#000000;">Brands</h1>
    <ion-list id="warehouse-list1" class="manual-list-fullwidth">
      <label class="item item-input myclass1" id="warehouse-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <ion-item class="item-icon-right" id="warehouse-list-item4" ui-sref="brand3()">FCUK
        <i class="icon ion-ios-arrow-right"></i>
        <ion-option-button class="button-dark"></ion-option-button>
      </ion-item>
      <ion-item class="item-icon-right" id="warehouse-list-item13" ui-sref="brand2()">Patanjali
        <i class="icon ion-ios-arrow-right"></i>
        <ion-option-button class="button-dark"></ion-option-button>
      </ion-item>
      <ion-item class="item-icon-right" id="warehouse-list-item14" ui-sref="brand()">Jockey
        <i class="icon ion-ios-arrow-right"></i>
        <ion-option-button class="button-dark"></ion-option-button>
      </ion-item>
      <ion-item class="item-icon-right" id="warehouse-list-item15">Nike
        <i class="icon ion-ios-arrow-right"></i>
        <ion-option-button class="button-dark"></ion-option-button>
      </ion-item>
      <ion-item class="item-icon-right" id="warehouse-list-item16">FCUK
        <i class="icon ion-ios-arrow-right"></i>
        <ion-option-button class="button-dark"></ion-option-button>
      </ion-item>
      <ion-item class="item-icon-right" id="warehouse-list-item17">FCUK
        <i class="icon ion-ios-arrow-right"></i>
        <ion-option-button class="button-dark"></ion-option-button>
      </ion-item>
      <ion-item class="item-icon-right" id="warehouse-list-item18">FCUK
        <i class="icon ion-ios-arrow-right"></i>
        <ion-option-button class="button-dark"></ion-option-button>
      </ion-item>
      <ion-item class="item-icon-right" id="warehouse-list-item19">FCUK
        <i class="icon ion-ios-arrow-right"></i>
        <ion-option-button class="button-dark"></ion-option-button>
      </ion-item>
      <ion-item id="warehouse-list-item5">PATANJALI</ion-item>
      <ion-item id="warehouse-list-item6">JOCKEY</ion-item>
      <ion-item id="warehouse-list-item7">JOCKEY</ion-item>
      <ion-item id="warehouse-list-item8">JOCKEY</ion-item>
      <ion-item id="warehouse-list-item9">JOCKEY</ion-item>
      <ion-item id="warehouse-list-item10">JOCKEY</ion-item>
      <ion-item id="warehouse-list-item11">JOCKEY</ion-item>
      <ion-item id="warehouse-list-item12">JOCKEY</ion-item>
      <label class="item item-input" id="warehouse-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </ion-list>
  </ion-content>
</ion-view>